# Python
__pycache__/
*.pyc

# Virtual env
venv/

# MLflow
mlruns/

# Data
*.csv
house-price-dataset-of-india/

# Models
*.pkl

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

app.log
monitoring_log.json